name: Synchronise with Crowdin Small

on:
  workflow_dispatch:

jobs:
  synchronise-with-crowdin:
    runs-on: ubuntu-20.04

    steps:
    - name: Checkout
      uses: actions/checkout@v2
    
    - name: crowdin action
      uses: crowdin/github-action@1.0.18
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        CROWDIN_PROJECT_ID: ${{ secrets.CROWDIN_PROJECT_ID }}
        CROWDIN_PERSONAL_TOKEN: ${{ secrets.CROWDIN_PERSONAL_TOKEN }}
      with:
        upload_sources: true
        download_translations: true
        config: ./crowdin_gh.yaml

